<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title th:text="${title}">Insert title here</title>
</head>
<body>
	<section class="banner ">

		<div id="login">
			<div class="container">
				<div id="login-row"
					class="row justify-content-center align-items-center">
					<div id="login-column" class="col-md-6">
						<div id="login-box" style="height: 240px" class="col-md-12">


							<div th:if="${session.msg}" class="container">
							<div class="alert alert-danger text-center" role="alert">
								<span th:text="${session.msg}"></span></div>
							<th:block th:text="${#session.removeAttribute('msg')}"></th:block>
					</div>
							
						
						
						<h4 class="text-center m-3 " style="color: #009688">Your
							Registered Email</h4>
						<form th:action="@{/sendotp}" method="post">
							<div class="form-group">

								<input type="email" name="email" placeholder="Enter Email"
									required="required" class="form-control">


							</div>
							<div class="container text-center">

								<button type="submit" class="btn btn-warning">Send OTP</button>
							</div>



						</form>





					</div>
				</div>
			</div>
		</div>
		</div>




	</section>

</body>
</html>