<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title th:text="${title}">Insert title here</title>
</head>
<body>
<section class="banner ">

 <div id="login">
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" style="height: 240px"class="col-md-12">
                       
                        <div class=" alert alert-success text-center m-3 " role="alert" style="color:black ">
                        We Have Sent OTP to Your Email
                        </div> 
                        
                        <div th:if="${session.msg}" class="container">
							<div class="alert alert-danger text-center" role="alert">
								<span th:text="${session.msg}"></span></div>
							<th:block th:text="${#session.removeAttribute('msg')}"></th:block>
					</div> 	
					
                        <form th:action="@{/verify-otp}" method="post">
                        <div class="form-group">
                        
                        
                        
                        <input type="text" name="otp" placeholder="Enter OTP"   required="required"  class="form-control">
                        
                        
                        </div>
                        <div class="container text-center">
                        
                        <button type="submit" class="btn btn-success">Verify</button>
                        </div>
                      
                        
                        
                        </form>
                        
                        
                        
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </div>




</section>

</body>
</html>